<%= form_for @payslip, :html => { :multipart => true } do |f| -%>
<div class="field">
	<%= f.label :payslipnum, "Payslip Number" %>
	<%= f.text_field :payslipnum %>
</div>  

<div class="field">
	<%= f.label :party, "Generated for" %>
	<%= f.text_field :party %>
</div>

<div class="field">
	<%= f.label :status, "Status of transaction" %>
	<%= f.text_field :status %>
</div>

<div class="field">
	<%= f.label :paid_at, "Paid at" %>
	<%= f.text_field :paid_at %>
</div>

<div class="field">
	<%= f.label :source, "Payslip created at" %>
	<%= f.text_field :source %>
</div>

<div class="field">
	<%= f.label :contactperson, "Contact Person" %>
	<%= f.text_field :contactperson %>
</div>
<div class="field">
	<%= f.label :contactphone, "Phone number" %>
	<%= f.text_field :contactphone %>
</div>


<div class="field">
<%= f.submit "Add", :disable_with => 'Adding...' %>
</div>
<% end -%>